<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi Lara
    <h2>
      New Lesson Request from <%=@lesson.client_name%>
    </h2>
    <h3>Contact Info: <%=@lesson.client_email%>, <%=@lesson.client_phone%></h3>
    <p>
        When: <%=@lesson.date%>: <%=@lesson.time%><br>
        Where:  <%=@lesson.location%><br>
    </p>
    <p>
        Student Info
        Name: <%=@lesson.student_name%>
        Age: <%=@lesson.student_age%><br>
        Experience: <%=@lesson.student_experience%><br>
        Goals: <%=@lesson.student_goals%><br>

        <%= link_to 'View and Respond to Bookings', "http://localhost:3001/bookings" %>
    </p>
  </body>
</html>